// Microsoft Visual C++ generated resource script.
//
#include <Windows.h>
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 한국어(대한민국) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(949)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Menu&2\tCtrl+A",              ID_FILE_MENU2
        MENUITEM "&Exit\tCtrl+B",               ID_FILE_EXIT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Love",                       ID_VIEW_LOVE
        MENUITEM "Ha&rry",                      ID_VIEW_HARRY
    END
END

IDR_MENU2 MENU
BEGIN
    POPUP "&Harry"
    BEGIN
        MENUITEM "&Love\tCtrl+L",               ID_HARRY_LOVE
    END
    POPUP "&Bori"
    BEGIN
        MENUITEM "&Food\tCtrl+F",               ID_BORI_FOOD
    END
    POPUP "&Settings"
    BEGIN
        MENUITEM "E&xit\tCtrl+X",               ID_SETTINGS_EXIT
    END
END

IDR_MENU3 MENU
BEGIN
    POPUP "게임(&G)"
    BEGIN
        MENUITEM "게임시작(&G)",                    ID_Tetris_Start_Game
        MENUITEM "게임중지(&P)",                    ID_Tetris_Pause_Game
        MENUITEM "게임나가기(&X)",                   ID_Tetris_Exit_Game
        MENUITEM "공백보이기(&E)",                   ID_Tetris_ViewSpace
        MENUITEM "조용히(&Q)",                     ID_Tetris_Silence
    END
    POPUP "게임사이즈(&S)"
    BEGIN
        MENUITEM "_8,10(&1)",                   ID_Tetris_Size_8_10
        MENUITEM "_10,20(&2)",                  ID_Tetris_Size_10_20
        MENUITEM "_12,25(&3)",                  ID_Tetris_Size_12_25
        MENUITEM "_15,30(&4)",                  ID_Tetris_Size_15_30
        MENUITEM "_20,32(&5)",                  ID_Tetris_Size_20_32
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON2               ICON                    "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\icon2.ico"

IDI_ICON1               ICON                    "_5_2_HarryIcon.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDC_CURSOR1             CURSOR                  "_5_2_2SmilingCursor.cur"

IDC_CURSOR2             CURSOR                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\cursor2.cur"


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELERATOR1 ACCELERATORS
BEGIN
    "A",            ID_FILE_MENU2,          VIRTKEY, CONTROL, NOINVERT
    "B",            ID_FILE_EXIT,           VIRTKEY, CONTROL, NOINVERT
END

IDR_ACCELERATOR2 ACCELERATORS
BEGIN
    "X",            ID_SETTINGS_EXIT,       VIRTKEY, CONTROL, NOINVERT
    "F",            ID_BORI_FOOD,           VIRTKEY, CONTROL, NOINVERT
    "L",            ID_HARRY_LOVE,          VIRTKEY, CONTROL, NOINVERT
END

IDR_ACCELERATOR_Tetris ACCELERATORS
BEGIN
    VK_RETURN,      ID_ACCELERATOR40001,    VIRTKEY, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP1             BITMAP                  "C:\\Users\\Heetae\\source\\repos\\Learning_WindowsAPI\\OtherFiles\\BMPPicture.bmp"

IDB_BITMAP2             BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap2.bmp"

IDB_BITMAP3             BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap3.bmp"

IDB_BITMAP5             BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap5.bmp"

IDB_BITMAP6             BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap6.bmp"

IDB_BITMAP7             BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap7.bmp"

IDB_BITMAP8             BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap8.bmp"

IDB_BITM_Plane          BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap9.bmp"

IDB_BITMAP10            BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap10.bmp"

IDB_BITMAP4             BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap4.bmp"

IDB_BITMAP_Tetris_0     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap11.bmp"

IDB_BITMAP_Tetris_1     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap12.bmp"

IDB_BITMAP_Tetris_2     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00001.bmp"

IDB_BITMAP_Tetris_3     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00002.bmp"

IDB_BITMAP_Tetris_4     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00003.bmp"

IDB_BITMAP_Tetris_5     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00004.bmp"

IDB_BITMAP_Tetris_6     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00005.bmp"

IDB_BITMAP_Tetris_7     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00006.bmp"

IDB_BITMAP_Tetris_8     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00007.bmp"

IDB_BITMAP_Tetris_9     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00008.bmp"

IDB_BITMAP_Tetris_10    BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00009.bmp"

IDB_BITMAP_Couple_0     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00010.bmp"

IDB_BITMAP_Couple_1     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00011.bmp"

IDB_BITMAP_Couple_2     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00012.bmp"

IDB_BITMAP_Couple_3     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00013.bmp"

IDB_BITMAP_Couple_4     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00014.bmp"

IDB_BITMAP_Couple_5     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00015.bmp"

IDB_BITMAP_Couple_6     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00016.bmp"

IDB_BITMAP_Couple_7     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00017.bmp"

IDB_BITMAP_Couple_8     BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00018.bmp"

IDB_BITMAP_SpacePlane   BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap13.bmp"

IDB_BITMAP14            BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap14.bmp"

IDB_BITMAP15            BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap15.bmp"

IDB_BITMAP16            BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap16.bmp"

IDB_BITMAP_HARRY        BITMAP                  "C:\\Users\\Heetae\\source\\repos\\Learning_WindowsAPI\\OtherFiles\\Harry.bmp"

IDB_BITMAP_16_4_1       BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bitmap18.bmp"

IDB_BITMAP_16_4_2       BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00019.bmp"

IDB_BITMAP_16_4_3       BITMAP                  "c:\\users\\heetae\\source\\repos\\learning_windowsapi\\otherfiles\\bmp00020.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DIALOG6, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG7, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG8, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG9, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 168
    END

    IDD_DIALOG10, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG_15_1_1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG_15_1_2, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG_15_1_3, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG_16_2_1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END

    IDD_DIALOG_16_3_1, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 303
        TOPMARGIN, 7
        BOTTOMMARGIN, 169
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_DIALOG1 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG2 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG3 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG4 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG5 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG6 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG7 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG8 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG9 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG10 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG_15_1_1 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG_15_1_2 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG_15_1_3 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG_16_2_1 AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_DIALOG_16_3_1 AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG6 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,199,155,50,14
    PUSHBUTTON      "취소",IDCANCEL,253,155,50,14
    LTEXT           "X",IDC_STATIC,57,52,8,8
    EDITTEXT        IDC_EDIT2,71,50,40,14,ES_AUTOHSCROLL
    LTEXT           "Y",IDC_STATIC,134,52,8,8
    EDITTEXT        IDC_EDIT3,148,50,40,14,ES_AUTOHSCROLL
    LTEXT           "str",IDC_STATIC,68,97,8,8
    EDITTEXT        IDC_EDIT4,82,95,118,14,ES_AUTOHSCROLL
END

IDD_DIALOG7 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,199,155,50,14
    PUSHBUTTON      "취소",IDCANCEL,253,155,50,14
    CONTROL         "남자",IDC_CHECK2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,28,28,28,10
    GROUPBOX        "전공",IDC_STATIC,139,26,122,115
    CONTROL         " 경영학과",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON,147,45,43,10
    CONTROL         "국문학과",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON,147,67,41,10
    CONTROL         "영문학과",IDC_RADIO3,"Button",BS_AUTORADIOBUTTON,148,88,41,10
    CONTROL         "법학과",IDC_RADIO4,"Button",BS_AUTORADIOBUTTON,148,107,35,10
END

IDD_DIALOG8 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "시작 페이지",IDC_STATIC,42,34,34,8
    EDITTEXT        IDC_EDIT1,96,33,40,14,ES_AUTOHSCROLL
    PUSHBUTTON      "독서 시작",IDC_BUTTON1,162,31,50,14
    LTEXT           "끝 페이지",IDC_STATIC,45,67,28,8
    EDITTEXT        IDC_EDIT2,99,66,40,14,ES_AUTOHSCROLL
    PUSHBUTTON      "잠시 중지",IDC_BUTTON2,165,64,50,14
    LTEXT           "시간(초)",IDC_STATIC,46,101,25,8
    EDITTEXT        IDC_EDIT3,98,99,40,14,ES_AUTOHSCROLL
    PUSHBUTTON      "닫기",IDC_BUTTON3,166,98,50,14
    CONTROL         "페이지를 바꿀 때마다 소리로 알려주기",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,31,131,124,10
    LTEXT           "nnn페이지 읽는 중 : n 초 남음",IDC_MY_TEXT,31,149,174,8
END

IDD_DIALOG9 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "바꾸기",IDCHANGE,199,154,50,14
    PUSHBUTTON      "닫기",IDCLOSE,253,154,50,14
    LTEXT           "X",IDC_STATIC,57,51,8,8
    EDITTEXT        IDC_EDIT1,65,48,40,14,ES_AUTOHSCROLL
    LTEXT           "Y",IDC_STATIC,136,49,8,8
    EDITTEXT        IDC_EDIT2,144,46,40,14,ES_AUTOHSCROLL
    LTEXT           "str",IDC_STATIC,54,99,8,8
    EDITTEXT        IDC_EDIT3,68,95,147,14,ES_AUTOHSCROLL
END

IDD_DIALOG10 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "닫기",IDCLOSE,120,137,50,14
    PUSHBUTTON      "불투명하게",IDC_BUTTON1,168,101,50,14
    PUSHBUTTON      "투명하게",IDC_BUTTON2,56,100,50,14
END

IDD_DIALOG_15_1_1 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,199,155,50,14
    PUSHBUTTON      "취소",IDCANCEL,253,155,50,14
    LTEXT           "Static",IDC_STATIC_TEXT123,34,53,210,9
    EDITTEXT        IDC_EDIT1,31,77,237,14,ES_AUTOHSCROLL
END

IDD_DIALOG_15_1_2 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,199,155,50,14
    PUSHBUTTON      "취소",IDCANCEL,253,155,50,14
    EDITTEXT        IDC_EDIT_15_1_2_1,65,54,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_15_1_2_2,168,53,40,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_15_1_2_3,69,101,152,14,ES_AUTOHSCROLL
END

IDD_DIALOG_15_1_3 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,199,155,50,14
    PUSHBUTTON      "취소",IDCANCEL,253,155,50,14
    LTEXT           "값 : ",IDC_STATIC_15_1_3_1,32,51,14,8
    EDITTEXT        IDC_EDIT_15_1_3,49,49,88,14,ES_AUTOHSCROLL
    PUSHBUTTON      "증가",IDC_BUTTON_15_1_3_1,198,36,50,14
    PUSHBUTTON      "증가",IDC_BUTTON_15_1_3_2,199,61,50,14
END

IDD_DIALOG_16_2_1 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,199,155,50,14
    PUSHBUTTON      "취소",IDCANCEL,253,155,50,14
    LISTBOX         IDC_LIST_16_2_1,23,18,207,102,LBS_SORT | LBS_USETABSTOPS | LBS_NOINTEGRALHEIGHT | LBS_WANTKEYBOARDINPUT | WS_VSCROLL | WS_TABSTOP
END

IDD_DIALOG_16_3_1 DIALOGEX 0, 0, 310, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,199,155,50,14
    PUSHBUTTON      "취소",IDCANCEL,253,155,50,14
    LISTBOX         IDC_LIST_16_3_1,15,14,100,155,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDIT_16_3_1,144,19,105,14,ES_AUTOHSCROLL
    PUSHBUTTON      "FindExact",IDC_BUTTON_FindExact,149,87,50,14
    PUSHBUTTON      "Find",IDC_BUTTON_Find,148,59,50,14
    PUSHBUTTON      "Select",IDC_BUTTON_Select,149,115,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDR_STRING101           "HelloWorld! ImFromStringTable"
END

#endif    // 한국어(대한민국) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

